* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #222222;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Style for the container */

.container {
    background-color: #fff;
    width: 500px;
    height: 300px;
    border-radius: 30px;
    padding-left: 90px;
    padding-top: 40px;
}

/* style for the tags */

h1 {
    margin: 15px 20px 15px 20px;
    display: inline;
}

/* style for the price icon */
#price-icon {
    width: 20px;
    height: 20px;
    vertical-align: top;
}

.tag-container3 {
    padding-top: 5px;
}

.tag-container4 {
    display: flex;
    align-items: center;
    margin-top: -25px;
}